html {
  background-color: #000000;
  font-family: monospace;
  text-align: center;
}

h1,h2,h3,h4,h5,p {
    color: white;
}

.input {
    width: 100%;
    background-color: transparent;
    border: 1.5px rgb(255, 255, 255) solid;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px;
    text-align: center;
    color: white;
    outline: none;
  }